@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neutral Mono';
  src: url('/fonts/PPNeueMontrealMono-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neutral Mono';
  src: url('/fonts/PPNeueMontrealMono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutral Mono';
  src: url('/fonts/PPNeueMontrealMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Formula Narrow';
  src: url('/fonts/PPFormula-NarrowRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Formula Narrow';
  src: url('/fonts/PPFormula-NarrowSemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Formula ';
  src: url('/fonts/PPFormula-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Formula ';
  src: url('/fonts/PPFormula-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}